In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
train_df = pd.read_csv('train.csv')

In [4]:
test_df =pd.read_csv('test.csv')

In [5]:
train_df.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [6]:
test_df.head()

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,32642,7792,118573,118574,117945,136261,128463,292795,119082
1,2,4696,14638,117961,118343,118514,118321,289122,255851,118322
2,3,22662,1760,118887,118888,120171,118396,255118,118398,118399
3,4,75078,7576,117961,118052,120671,118321,117906,257051,118322
4,5,39879,55668,117902,118041,117945,135951,134458,19776,119082

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912363 entries, 0 to 912362
Data columns (total 10 columns):
id                  912363 non-null int64
RESOURCE            912363 non-null int64
MGR_ID              912363 non-null int64
ROLE_ROLLUP_1       912363 non-null int64
ROLE_ROLLUP_2       912363 non-null int64
ROLE_DEPTNAME       912363 non-null int64
ROLE_TITLE          912363 non-null int64
ROLE_FAMILY_DESC    912363 non-null int64
ROLE_FAMILY         912363 non-null int64
ROLE_CODE           912363 non-null int64
dtypes: int64(10)
memory usage: 69.6 MB

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32769 entries, 0 to 32768
Data columns (total 10 columns):
ACTION              32769 non-null int64
RESOURCE            32769 non-null int64
MGR_ID              32769 non-null int64
ROLE_ROLLUP_1       32769 non-null int64
ROLE_ROLLUP_2       32769 non-null int64
ROLE_DEPTNAME       32769 non-null int64
ROLE_TITLE          32769 non-null int64
ROLE_FAMILY_DESC    32769 non-null int64
ROLE_FAMILY         32769 non-null int64
ROLE_CODE           32769 non-null int64
dtypes: int64(10)
memory usage: 2.5 MB

In [9]:
train_df.describe()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
count,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000
mean,0.942110,42923.916171,25988.957979,116952.627788,118301.823156,118912.779914,125916.152644,170178.369648,183703.408893,119789.430132
std,0.233539,34173.892702,35928.031650,10875.563591,4551.588572,18961.322917,31036.465825,69509.462130,100488.407413,5784.275516
min,0.000000,0.000000,25.000000,4292.000000,23779.000000,4674.000000,117879.000000,4673.000000,3130.000000,117880.000000
25%,1.000000,20299.000000,4566.000000,117961.000000,118102.000000,118395.000000,118274.000000,117906.000000,118363.000000,118232.000000
50%,1.000000,35376.000000,13545.000000,117961.000000,118300.000000,118921.000000,118568.000000,128696.000000,119006.000000,118570.000000
75%,1.000000,74189.000000,42034.000000,117961.000000,118386.000000,120535.000000,120006.000000,235280.000000,290919.000000,119348.000000
max,1.000000,312153.000000,311696.000000,311178.000000,286791.000000,286792.000000,311867.000000,311867.000000,308574.000000,270691.000000

In [10]:
train_df.ACTION.unique()

array([1, 0])

In [11]:
ACTION=train_df['ACTION']

In [12]:
train_df =train_df.drop("ACTION", axis=1)

In [13]:
train_df.shape

(32769, 9)

In [14]:
test_df.shape

(912363, 10)

In [15]:
id_test =test_df['id']

In [16]:
test_df =test_df.drop("id", axis=1)

In [17]:
test_df.shape

(912363, 9)

In [18]:
test_df

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,32642,7792,118573,118574,117945,136261,128463,292795,119082
1,4696,14638,117961,118343,118514,118321,289122,255851,118322
2,22662,1760,118887,118888,120171,118396,255118,118398,118399
3,75078,7576,117961,118052,120671,118321,117906,257051,118322
4,39879,55668,117902,118041,117945,135951,134458,19776,119082
5,34026,25242,118555,118178,118320,118685,290195,249576,118687
6,25753,2679,122880,122974,117945,280788,119080,292795,119082
7,32642,54271,117902,118041,117945,156946,136261,292795,119082
8,41372,41760,118315,118316,123656,117905,117906,255851,117908
9,25753,2679,122880,122974,117945,135951,128463,292795,119082
10,45990,20219,119280,119281,117945,128463,160413,19776,119082
11,15714,46612,118752,119070,120995,134458,156946,292795,119082
12,44984,46612,118752,119070,120995,163889,280788,292795,119082
13,42031,151283,118315,118463,118522,118784,121926,255851,118786
14,76873,32242,117961,118327,253965,118777,224287,202239,118779
15,28294,50793,117961,118052,120096,117905,117906,289122,117908
16,40997,16588,119920,119921,137107,118777,192393,145396,118779
17,34582,6278,117961,118343,120722,118321,117906,257051,118322
18,73561,13845,117961,117962,120526,118784,298899,122375,118786
19,116246,1140,117961,117962,118352,117905,119831,257051,117908
20,82337,54684,117961,117962,118910,118536,131074,249576,118539
21,18418,6257,117961,118343,120722,117905,150871,122640,117908
22,20226,283684,118752,119070,118754,135951,272022,19776,119082
23,28294,6482,117961,118343,118992,117905,129550,133887,117908
24,75943,3763,117961,118300,120059,120812,136686,118638,120814
25,46048,2270,117961,118413,121567,118777,279443,158823,118779
26,45974,15644,118752,118753,117945,218058,130970,19776,119082
27,74463,4571,117961,118225,119924,118685,290195,118538,118687
28,79299,7790,118573,118574,117945,119080,119080,292795,119082
29,15716,223988,117902,118041,117945,160413,272022,292795,119082
...,...,...,...,...,...,...,...,...,...
912333,73144,51326,118887,118888,118631,118728,131150,118295,118730
912334,25753,2679,122880,122974,117945,130970,280788,19776,119082
912335,41594,4589,117961,118327,120383,118536,151771,259397,118539
912336,6104,4721,117961,118386,119214,118897,247616,118331,118899
912337,14570,25445,118023,118024,117895,118568,175080,19721,118570
912338,41642,69637,119062,119091,118992,117905,117906,133933,117908
912339,14818,27214,117961,118386,118733,118685,169688,168363,118687
912340,41116,27214,117961,118386,118692,118685,118778,147204,118687
912341,73756,17046,117902,118041,117945,135951,272022,19776,119082
912342,22402,79366,117961,118413,120526,118321,119831,240774,118322
912343,40462,6257,117961,118343,120722,118784,117906,133878,118786
912344,15716,59230,119280,119281,117945,188271,119081,19776,119082
912345,75078,28245,118315,118463,123089,118321,130219,289122,118322
912346,25753,46609,122532,122533,117945,139356,218058,19776,119082
912347,1281,1325,117961,117962,118910,118321,117906,133933,118322
912348,77203,15417,117961,119256,119257,128463,188271,19776,119082
912349,43503,72209,117961,118343,124948,117905,117906,195259,117908
912350,32642,20219,119280,119281,117945,218058,134458,292795,119082
912351,79092,120806,117961,118446,118447,118321,122375,257051,118322
912352,41594,28590,117961,118327,120685,118897,275213,118331,118899
912353,4675,23347,117961,118052,119408,118685,135246,127842,118687
912354,22313,55666,117902,118041,118556,156946,130913,292795,119082
912355,20487,4533,117961,118343,118700,117905,119831,238636,117908
912356,81364,59394,91261,118026,118317,118321,119831,289122,118322
912357,15716,59228,117902,118041,118623,128463,188271,19776,119082
912358,32642,7792,118573,118574,117945,188271,139356,292795,119082
912359,41594,25262,126974,126975,118320,118685,120493,119970,118687
912360,45784,141,117961,118225,122273,118321,117906,238636,118322
912361,15716,2456,118752,118753,118754,119081,135951,292795,119082
912362,43443,7022,119062,119091,118535,118784,147114,290919,118786

In [19]:
train_df

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,42680,5905,117929,117930,119569,119323,123932,19793,119325
5,45333,14561,117951,117952,118008,118568,118568,19721,118570
6,25993,17227,117961,118343,123476,118980,301534,118295,118982
7,19666,4209,117961,117969,118910,126820,269034,118638,126822
8,31246,783,117961,118413,120584,128230,302830,4673,128231
9,78766,56683,118079,118080,117878,117879,304519,19721,117880
10,4675,3005,117961,118413,118481,118784,117906,290919,118786
11,15030,94005,117902,118041,119238,119093,138522,119095,119096
12,79954,46608,118315,118463,122636,120773,123148,118960,120774
13,4675,50997,91261,118026,118202,119962,168365,118205,119964
14,95836,18181,117961,118343,118514,118321,117906,290919,118322
15,19484,6657,118219,118220,118221,117885,117886,117887,117888
16,114267,23136,117961,118052,119742,118321,117906,290919,118322
17,35197,57715,117961,118446,118701,118702,118703,118704,118705
18,86316,7002,117961,118343,123125,118278,132715,290919,118279
19,27785,5636,117961,118413,122007,118321,117906,290919,118322
20,37427,5220,117961,118300,118458,120006,303717,118424,120008
21,15672,111936,117961,118300,118783,117905,240983,290919,117908
22,92885,744,117961,118300,119181,118777,279443,308574,118779
23,1020,85475,117961,118300,120410,118321,117906,290919,118322
24,4675,7551,117961,118052,118867,118259,117906,290919,118261
25,41334,28253,118315,118463,123089,118259,128796,290919,118261
26,77385,14829,117961,118052,119986,117905,117906,290919,117908
27,20273,11506,118216,118587,118846,179731,128361,117887,117973
28,78098,46556,118090,118091,117884,118568,165015,19721,118570
29,79328,4219,117961,118300,120312,120313,144958,118424,120315
...,...,...,...,...,...,...,...,...,...
32739,20293,27915,117926,117927,117920,118568,281735,19721,118570
32740,40867,3197,117961,118386,120361,117905,117906,290919,117908
32741,22402,6199,117961,118225,120663,118321,117906,290919,118322
32742,73581,2229,117961,118300,118450,119192,135136,119184,119194
32743,31639,50976,117961,118413,119968,117905,117906,290919,117908
32744,42093,5396,117961,118343,119993,118321,117906,290919,118322
32745,5491,27394,117961,118343,119142,118685,152298,308574,118687
32746,27133,2610,117961,118327,121979,118321,117906,290919,118322
32747,27785,4871,117961,118300,125872,120006,159698,118424,120008
32748,80247,2299,117961,117962,119223,120516,146694,120518,120519
32749,75915,1728,117961,118327,118507,121527,128634,118398,121529
32750,77178,3225,117961,118327,118929,118784,126514,290919,118786
32751,16442,4659,117961,118225,120663,118321,117906,290919,118322
32752,32529,22355,118120,118121,117920,121067,229187,121069,121070
32753,23096,53282,118290,118291,120211,117985,121679,19793,117987
32754,52684,59712,117916,118150,117884,117885,117913,117887,117888
32755,42085,54618,117961,118052,118821,117905,240983,290919,117908
32756,79969,3221,120342,120343,124133,118728,244948,118295,118730
32757,16639,4945,117961,118300,118360,118129,122064,118131,118132
32758,33118,5423,117961,118327,118391,123045,123107,120518,123047
32759,15679,46503,120140,120141,121589,120952,120953,118453,120954
32760,17308,1550,117961,118225,123173,119093,123174,119095,119096
32761,16354,25618,117961,118327,118320,122060,122060,290919,122062
32762,6921,3954,117961,118343,120291,118422,300136,118424,118425
32763,32147,3883,117961,118343,119987,118784,118785,290919,118786
32764,23497,16971,117961,118300,119993,118321,240983,290919,118322
32765,25139,311198,91261,118026,122392,121143,173805,249618,121145
32766,34924,28805,117961,118327,120299,124922,152038,118612,124924
32767,80574,55643,118256,118257,117945,280788,280788,292795,119082
32768,14354,59575,117916,118150,117920,118568,122142,19721,118570

In [20]:
# Model :classification:
# navie_bayes

In [21]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(train_df,ACTION)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [22]:
predictions = naive_bayes.predict(test_df)

In [23]:
print(np.unique(predictions))

[0 1]

In [29]:
print(type(predictions))

<class 'numpy.ndarray'>

In [30]:
predict_df =pd.DataFrame(data=predictions)

In [34]:
predict_df

        0
0       1
1       1
2       1
3       1
4       0
5       1
6       0
7       0
8       0
9       1
10      0
11      0
12      1
13      0
14      1
15      0
16      1
17      1
18      1
19      1
20      0
21      1
22      0
23      1
24      1
25      1
26      0
27      1
28      1
29      0
...    ..
912333  0
912334  1
912335  1
912336  1
912337  0
912338  0
912339  0
912340  0
912341  1
912342  0
912343  1
912344  0
912345  1
912346  0
912347  1
912348  1
912349  0
912350  0
912351  0
912352  1
912353  0
912354  0
912355  1
912356  0
912357  0
912358  0
912359  0
912360  1
912361  1
912362  1

[912363 rows x 1 columns]

In [31]:
print(type(predict_df))

<class 'pandas.core.frame.DataFrame'>

In [64]:
#predict_df.to_string(index=False)

In [78]:
final_result_df=test_df.join(predict_df)
#print(pd.concat([id_test_df, predict_df], ignore_index=True))

In [82]:
final_result_df.rename(columns={0:'ACTION'}, inplace=True)

In [83]:
final_result_df

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,ACTION
0,32642,7792,118573,118574,117945,136261,128463,292795,119082,1
1,4696,14638,117961,118343,118514,118321,289122,255851,118322,1
2,22662,1760,118887,118888,120171,118396,255118,118398,118399,1
3,75078,7576,117961,118052,120671,118321,117906,257051,118322,1
4,39879,55668,117902,118041,117945,135951,134458,19776,119082,0
5,34026,25242,118555,118178,118320,118685,290195,249576,118687,1
6,25753,2679,122880,122974,117945,280788,119080,292795,119082,0
7,32642,54271,117902,118041,117945,156946,136261,292795,119082,0
8,41372,41760,118315,118316,123656,117905,117906,255851,117908,0
9,25753,2679,122880,122974,117945,135951,128463,292795,119082,1
10,45990,20219,119280,119281,117945,128463,160413,19776,119082,0
11,15714,46612,118752,119070,120995,134458,156946,292795,119082,0
12,44984,46612,118752,119070,120995,163889,280788,292795,119082,1
13,42031,151283,118315,118463,118522,118784,121926,255851,118786,0
14,76873,32242,117961,118327,253965,118777,224287,202239,118779,1
15,28294,50793,117961,118052,120096,117905,117906,289122,117908,0
16,40997,16588,119920,119921,137107,118777,192393,145396,118779,1
17,34582,6278,117961,118343,120722,118321,117906,257051,118322,1
18,73561,13845,117961,117962,120526,118784,298899,122375,118786,1
19,116246,1140,117961,117962,118352,117905,119831,257051,117908,1
20,82337,54684,117961,117962,118910,118536,131074,249576,118539,0
21,18418,6257,117961,118343,120722,117905,150871,122640,117908,1
22,20226,283684,118752,119070,118754,135951,272022,19776,119082,0
23,28294,6482,117961,118343,118992,117905,129550,133887,117908,1
24,75943,3763,117961,118300,120059,120812,136686,118638,120814,1
25,46048,2270,117961,118413,121567,118777,279443,158823,118779,1
26,45974,15644,118752,118753,117945,218058,130970,19776,119082,0
27,74463,4571,117961,118225,119924,118685,290195,118538,118687,1
28,79299,7790,118573,118574,117945,119080,119080,292795,119082,1
29,15716,223988,117902,118041,117945,160413,272022,292795,119082,0
...,...,...,...,...,...,...,...,...,...,...
912333,73144,51326,118887,118888,118631,118728,131150,118295,118730,0
912334,25753,2679,122880,122974,117945,130970,280788,19776,119082,1
912335,41594,4589,117961,118327,120383,118536,151771,259397,118539,1
912336,6104,4721,117961,118386,119214,118897,247616,118331,118899,1
912337,14570,25445,118023,118024,117895,118568,175080,19721,118570,0
912338,41642,69637,119062,119091,118992,117905,117906,133933,117908,0
912339,14818,27214,117961,118386,118733,118685,169688,168363,118687,0
912340,41116,27214,117961,118386,118692,118685,118778,147204,118687,0
912341,73756,17046,117902,118041,117945,135951,272022,19776,119082,1
912342,22402,79366,117961,118413,120526,118321,119831,240774,118322,0
912343,40462,6257,117961,118343,120722,118784,117906,133878,118786,1
912344,15716,59230,119280,119281,117945,188271,119081,19776,119082,0
912345,75078,28245,118315,118463,123089,118321,130219,289122,118322,1
912346,25753,46609,122532,122533,117945,139356,218058,19776,119082,0
912347,1281,1325,117961,117962,118910,118321,117906,133933,118322,1
912348,77203,15417,117961,119256,119257,128463,188271,19776,119082,1
912349,43503,72209,117961,118343,124948,117905,117906,195259,117908,0
912350,32642,20219,119280,119281,117945,218058,134458,292795,119082,0
912351,79092,120806,117961,118446,118447,118321,122375,257051,118322,0
912352,41594,28590,117961,118327,120685,118897,275213,118331,118899,1
912353,4675,23347,117961,118052,119408,118685,135246,127842,118687,0
912354,22313,55666,117902,118041,118556,156946,130913,292795,119082,0
912355,20487,4533,117961,118343,118700,117905,119831,238636,117908,1
912356,81364,59394,91261,118026,118317,118321,119831,289122,118322,0
912357,15716,59228,117902,118041,118623,128463,188271,19776,119082,0
912358,32642,7792,118573,118574,117945,188271,139356,292795,119082,0
912359,41594,25262,126974,126975,118320,118685,120493,119970,118687,0
912360,45784,141,117961,118225,122273,118321,117906,238636,118322,1
912361,15716,2456,118752,118753,118754,119081,135951,292795,119082,1
912362,43443,7022,119062,119091,118535,118784,147114,290919,118786,1

In [90]:
# Decision Tree Model

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_df, ACTION, test_size=0.2, random_state=42)

In [58]:
from sklearn.tree import DecisionTreeClassifier

decision_model = DecisionTreeClassifier(max_depth=16,min_samples_split=3)
decision_model.fit(train_df,ACTION)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=16,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=3,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [89]:
# Making predictions
y_train_pred = decision_model.predict(X_train)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
print(train_accuracy)

0.9780278466526797